.container {
  display: flex;
  align-items: center;
  width: 60px;
  vertical-align: middle;

  i {
    margin-left: 4px;
  }

  span {
    display: inline-block;
    width: 28px;
  }

  .title {
    font-size: 1.5rem;
  }

  &.column {
    width: 24px;
    text-align: center;

    span {
      font-size: 13px;
      margin-bottom: 3px;
    }

    i {
      margin: 0 0 0 3px;
    }
  }
}

.icon {
  display: inline-block;
}
