@import '../../theme/colours.pcss';

.sex-badge {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}

.sex-badge-x {
  composes: sex-badge;
}

.sex-badge-w {
  composes: sex-badge;
}

.sex-badge-m {
  composes: sex-badge;
}
