:root {
    --font-family: 'World Athletics';
    --font-family-headline: 'World Athletics Heavy';
    --font-family-regular: 'World Athletics';
    --font-family-bold: 'World Athletics Bold';
    --font-size: 16px;
    --font-bold: bold;
    --font-regular: 400;
    --font-light: 200;
  }