@import '../../theme/variables.pcss';

.row {
  composes: rowContainer from './Table.pcss';
  font-size: 0.9em;

}

.onlyMobile {

}

.hasLink {
  cursor: pointer;
}

.subSectionTitle {
  background: var(--background-colour) !important;
  color: white !important;
}


